<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jimssgym">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:label="@string/app_name" android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".QRReaderQuickScanActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".QuickScanActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert" />
        <activity
            android:label="@string/app_name"
            android:name=".QuickScanCardViewActivity"
            android:parentActivityName=".QRReaderQuickScanActivity" />
        <activity
            android:label="Friends"
            android:name=".FriendsActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".UserActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:label="Friends"
            android:name=".FillCalenderActivity"
            android:parentActivityName=".FriendsActivity"
            android:noHistory="true" />
        <activity
            android:label="Friends"
            android:name=".CalenderActivity"
            android:parentActivityName=".FriendsActivity"
            android:noHistory="true" />
        <activity
            android:name=".PopUpWorkoutActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert" />
        <activity
            android:name=".PopUpAddTime"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert" />
        <activity
            android:name=".PopUpDelete"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert" />
        <activity
            android:name=".FriendCardViewActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert" />
        <activity
            android:label="@string/app_name"
            android:name=".UserSetupActivity" />
        <activity
            android:label="@string/app_name"
            android:name=".SignInActivity" />
        <activity
            android:name=".ScanActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert" />
        <activity
            android:label="@string/app_name"
            android:name=".ScanCardViewActivity"
            android:parentActivityName=".QRReaderActivity" />
        <activity
            android:label="@string/app_name"
            android:name=".QRReaderActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:label="@string/app_name"
            android:name=".SuggestedWorkoutActivity"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>